body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(248, 245, 241); 
  
}

.calculator {
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  width: 260px;
}

.display {
  background: #1f2933;
  color: #ffffff;
  font-size: 32px;
  padding: 15px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: 0.5px;
  border-radius: 10px;
  cursor: pointer;
  background: #e0e3e8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
button:hover{
  background: linear-gradient(135deg,#5b2c83,#b8860b);
  color:lavenderblush;
  box-shadow: 0 8px 20px rgba(184,134,11,0.4);
}

.num {
  background: #e9edf2;
  color: #111827;
}

.op {
  background: #c7d2fe; 
  color: #1e1b4b;
}

.zero {
  grid-column: span 2;
  background: #e9edf2;
}


.equal {
  background: #5a53e8; 
  color: #ffffff;
}

